<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fivemeter.website.dao.HistoryRiverMapper">
  <resultMap id="BaseResultMap" type="cn.fivemeter.website.model.HistoryRiver">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="occur_time" jdbcType="VARCHAR" property="occurTime" />
    <result column="occur_year" jdbcType="VARCHAR" property="occurYear" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, occur_time, occur_year, nick_name, content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from history_river
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from history_river
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.fivemeter.website.model.HistoryRiver">
    insert into history_river (id, occur_time, occur_year, 
      nick_name, content)
    values (#{id,jdbcType=INTEGER}, #{occurTime,jdbcType=VARCHAR}, #{occurYear,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.fivemeter.website.model.HistoryRiver">
    insert into history_river
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="occurTime != null">
        occur_time,
      </if>
      <if test="occurYear != null">
        occur_year,
      </if>
      <if test="nickName != null">
        nick_name,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="occurTime != null">
        #{occurTime,jdbcType=VARCHAR},
      </if>
      <if test="occurYear != null">
        #{occurYear,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.fivemeter.website.model.HistoryRiver">
    update history_river
    <set>
      <if test="occurTime != null">
        occur_time = #{occurTime,jdbcType=VARCHAR},
      </if>
      <if test="occurYear != null">
        occur_year = #{occurYear,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.fivemeter.website.model.HistoryRiver">
    update history_river
    set occur_time = #{occurTime,jdbcType=VARCHAR},
      occur_year = #{occurYear,jdbcType=VARCHAR},
      nick_name = #{nickName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自定义mapper-->
  <select id="selectByYear" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from history_river
    where occur_year = #{year} ORDER BY occur_time DESC
  </select>

</mapper>